{% extends "layoutAdmin.twig" %}

{% block head %}
    {{ parent() }}
    {%  include "colorbox.twig" %}
{% endblock head %}

{% block content %}
    <h1>Страницы ({{ countItems }})</h1>
    <div>
        {% for item in items %}
            <div>
                <h2>{{ item.title }} <sup>({{ item.name }})</sup></h2>

                <p>{{ item.text|striptags|raw|cutStr(500) }}...</p>

                <div class="photos">
                    {% for image in item.images %}
                        <a class='images photo-thumb' href="{{ image.uri("origin") }}" title="{{ image.name }} - {{ image.description }}">
                            <img src="{{ image.uri("thumb") }}" title="{{ image.name }}" alt="{{ image.description }}"/>
                        </a>
                    {% endfor %}
                </div>

                <a href="{{ route_url('pages_edit', {'id': item.id}) }}" class="btn btn-sm btn-warning"><span
                            class="glyphicon glyphicon-edit"></span></a>
                <a href="{{ route_url('pages_rm', {'id': item.id}) }}" class="btn btn-sm btn-danger"><span
                            class="glyphicon glyphicon-remove"></span></a>
            </div>
            <br/>
        {% endfor %}

        {#paginator#}
        <div>
            <ul class="pagination">
                {% if showFirstPage %}
                    <li><a href="/admin/articles">&laquo;</a></li>
                {% endif %}
                {% for page in pages %}
                    <li class="{% if page.active %}active{% endif %}"><a
                                href="/admin/articles?p={{ page.id }}">{{ page.id }}</a></li>
                {% endfor %}
                {% if showLastPage %}
                    <li><a href="/admin/articles?p={{ countPages }}">&raquo;</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <a href="{{ route_url('pages_add') }}" class="btn btn-lg btn-success"><span class="glyphicon glyphicon-file"></span>
        Add New</a>
{% endblock %}
