{% extends "layout.twig" %}

{% block content %}
    <div class="page-header">
        <h1>{{ item.title }}</h1>
    </div>
    <div>
        <div class="page-text">
            {{ item.text|raw }}
        </div>
    </div>
    {% if item.images %}
        <div class="pages-photos">
            <div class="list">
                {% for image in item.images %}
                    <div class="thumbnail">
                        <a class="photo-thumb" href="{{ image.uri("origin") }}">
                            <img src="{{ image.uri("medium") }}"/>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="clearfix"></div>
    {% endif %}
{% endblock content %}

{% block head %}
    {{ parent() }}
    {% include "colorbox.twig" %}
{% endblock head %}
